html {
}
body {

  overflow: hidden !important;
  overscroll-behavior: none !important;

  /* THIS VALUES ARE FOR REMOVING TEXT SELECTING ABILITY,
  which was annoying when you try to double click on buttons */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  
  --clr-accent-500: #c17aff;
  --clr-accent-100: #ddb9fe;

  --clr-gradient-left: rgb(107, 102, 250);
  --clr-gradient-right: rgb(193, 122, 255);
  --clr-like: white;

  --clr-background: #121212;
  --clr-background-200: #181818;
  --clr-background-600: #0e0d0d;
  --clr-background-900: #000000;

  --clr-playlist-background: #121212;

  --clr-primary-200: rgb(185, 185, 185);
  --clr-primary-100: white;
  padding: 0;
  margin: 0;
  
  color: var(--clr-primary-100);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
