html {

}
body {
  
  overflow: hidden !important;
  overscroll-behavior: none !important;
  
  --clr-accent-500: #c17aff;
  --clr-accent-100: #ddb9fe;

  --clr-gradient-left: rgb(107, 102, 250);
  --clr-gradient-right: rgb(193, 122, 255);
  --clr-like: white;

  --clr-background: #121212;

  --clr-primary-200: grey;
  padding: 0;
  margin: 0;
  background-color: var(--clr-background);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
