html {

}
body {
  
  overflow: hidden !important;
  overscroll-behavior: none !important;
  
  --clr-accent-500: #c17aff;
  --clr-accent-100: #ddb9fe;

  --clr-gradient-left: rgb(107, 102, 250);
  --clr-gradient-right: rgb(193, 122, 255);
  --clr-like: white;

  --clr-background: #121212;
  --clr-background-200: #181818;
  --clr-background-600: #0e0d0d;
  --clr-background-900: #000000;

  --clr-primary-200: rgb(185, 185, 185);
  --clr-primary-100: white;
  padding: 0;
  margin: 0;
  background-color: var(--clr-background);
  color: var(--clr-primary-100);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
