@media screen and (max-width: 600px) {
   .Root {
    grid-template-rows: 1fr auto auto;

    grid-template-areas:
    "mainView"
    "playerFooter"
    "navBar";
   } 
}

@media screen and (min-width: 601px) {
    .Root {
     grid-template-columns: auto 1fr;
     grid-template-rows: 1fr auto;
 
     grid-template-areas:
     "navBar mainView"
     "playerFooter playerFooter";
    } 
 }

.Root {
    /* height: 100vh; */
    /* min-height: 100vh; */
    /* max-height: -webkit-fill-available; */
    /* max-height: 100vh; */
    display: grid;
    height: 100vh;
    max-height: -webkit-fill-available;

}
  
.MainView {
    overflow: scroll;
    vertical-align: baseline;
    grid-area: mainView;

    /* min-height: calc(100vh - var(--footer-height));
    height: 10px; */
    /* overflow: scroll; */
}

.SideBar {
    grid-area: navBar;
    background-color: var(--clr-background-900);
}

.playerFooter {
    grid-area: playerFooter;
}
  
  