@media screen and (max-width: 600px) {
    .playlistHeader {
        justify-content: center;
        flex-direction: column;
        display: flex;

        padding: 16px 16px 2em;
    }

    .playlistImage {
        align-self: center;
    }

    .playlistTitle {
        font-size: 1.4rem;
    }

    .playlistType {
        margin-top: 1em;
        font-size: 0.7rem !important;
    }
}

@media screen and (min-width: 601px) {
    .playlistHeader {
        /* padding-right: 10em; */
        height: 30vh;
        max-height: 500px;
        min-height: 340px;
    
        overflow: hidden;
        max-width: none;
    
        padding: 0 16px 24px;

        display: flex;
    }


    .playlistImage {
        /* vertical-align: baseline; */
        align-self: flex-end;
        margin-right:24px;
    }

    .playlistTitle {
        font-size: max(2.5rem, 4vw);
    }
}


.playlistHeader {
    background-color:var(--clr-background);
    background-image: linear-gradient(
        0deg,
        rgb(255, 255, 255, 0.1) 0%,
        hsl(273deg 19% 19%) 88%,
        rgba(83, 61, 102, 0.294) 98%,
        rgba(157, 110, 201, 0.217) 101%,
        rgba(198, 138, 255, 0.047) 100%
      );
}

.playlistImage {
    position: relative;
    vertical-align: bottom;
    font-size: 0;
}

.playlistTitle {
    font-weight: 900;
    margin: 0.3em 0;
}

.playlistType {
    font-size: smaller;
    font-weight: 500;
}

.playlistInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.playlistSubtitle {
    font-size: 0.85rem;
}

.playlistSubtitle :nth-child(3) {
    color: var(--clr-primary-200)
}

