.PlayerFooterWrapper {
    height: 100%;
    width: 100%;
    background-color: #e1cccc;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

.ControlsWrapper {
  width: 200px;
  display: flex;
}


.SongInfoWrapper {
  width: 200px;
}