@media screen and (max-width: 600px) {
  .PlayerFooterWrapper {
    border-bottom: solid 1px rgba(255, 255, 255, 0.395);
    grid-template-columns: 3fr auto !important;
    padding: 0.75em 1em 0.75em 0.75em !important;

    --footer-height: 40px !important;
  }

  .trackTitle {
    font-size: 1em !important;
  }

  .ControlsWrapper {
    justify-self: flex-end !important;
  }

  .SongArtwork {
    overflow: hidden;
    border-radius: 0.3em;
  }

  .volumeWrapper {
    display: none !important;
  }
}

.PlayerFooterWrapper {
  padding: 16px 24px;
  background-color: var(--clr-background-200);

  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-gap: 16px;
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--clr-primary-200);

  --footer-height: 56px;
  --opacity-unactive: 70%;
  --opacity-nosong: 50%;
}

.SongInfo {
  width: 100%;
  height: var(--footer-height);
  min-width: 0;
  justify-self: start;
  display: flex;
}

.SongArtwork {
  height: var(--footer-height);
  width: var(--footer-height);
  margin-right: 0.8em;
}


.trackText {
  height: var(--footer-height);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
}


.trackTitle {
  padding: 0.2em 0;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.2em;
  font-weight: 400;
  color: var(--clr-primary-100)
}

.trackArtist {
  word-break: break-all;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}



.ControlsWrapper {
  width: 125px;
  display: flex;
  height: var(--footer-height);
  justify-content: center;
  justify-self: center;
  align-items: center;
}

.ControlsWrapperNoSong {
  opacity: var(--opacity-nosong);
}

.PlayButton {
  margin: 0 1.5em;
  height: 32px;
  width: 32px;
  background-color: white;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ControlsWrapper:not(.ControlsWrapperNoSong) .PlayButton:active {
  transform: scale(0.95);
}

.RoundPlay {
  height: 14px;
  width: 14px;
}

.sideButton {
  height: 14px;
  width: 14px;
}

.PreviousButton {
  transform: rotateZ(180deg);
}

.PlayerFooterWrapper:not(.isMobile) .sideButton {
  opacity: var(--opacity-unactive);
}

.PlayerFooterWrapper:not(.isMobile):not(.ControlsWrapperNoSong) .sideButton:hover {
  opacity: 100%;
}

.sideButton:active {
  opacity: var(--opacity-unactive) !important;
}

.volumeWrapper {
  width: 125px;
  justify-self: flex-end;

  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}

.VolumeIcon {
  height: 1.5em;
  opacity: var(--opacity-unactive);
  transition: all 0.1s;
}

.VolumeIcon:hover {
  opacity: 100%;
}

.VolumeSlider {
  flex-grow: 9;

}