@media screen and (max-width: 600px) {
    .playlistHeader {
        justify-content: center;
        flex-direction: column;
        display: flex;

        padding: 16px 16px 2em;
    }

    .playlistImage {
        align-self: center;
    }

    .playlistTitle {
        font-size: 1.4rem;
    }

    .playlistType {
        margin-top: 1em;
        font-size: 0.7rem !important;
    }
}

@media screen and (min-width: 601px) {
    .playlistHeader {
        height: 30vh;
        max-height: 500px;
        min-height: 340px;
    
        overflow: hidden;
        max-width: none;
    
        padding: 0 16px 24px;

        display: flex;
    }


    .playlistImage {
        align-self: flex-end;
        margin-right:24px;
    }

    .playlistTitle {
        font-size: max(2.5rem, 4vw);
    }
}


.playlistHeader {
    background: linear-gradient(to bottom, transparent 0, var(--clr-playlist-background) 100%), #9131ff2c;
}

.playlistImage {
    position: relative;
    vertical-align: bottom;
    font-size: 0;
}

.playlistTitle {
    font-weight: 900;
    margin: 0.3em 0;
}

.playlistType {
    font-size: smaller;
    font-weight: 500;
}

.playlistInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.playlistSubtitle {
    font-size: 0.85rem;
}

.playlistSubtitle :nth-child(3) {
    color: var(--clr-primary-200)
}

