@media screen and (max-width: 600px) {
    .sideBarMain {
        display: none;
    }
}

@media screen and (max-width: 950px) and (min-width: 601px) {
    .sideBarMain {
        width: 50px;
    }

    .shotgunMinimalLogo {
        display: block !important;
    }

    .shotgunFullLogo {
        display: none !important;
    }
}

@media screen and (min-width: 951px) {
    .sideBarMain {
        width: 180px;
    }
}

.sideBarMain {
    height: 100%;
    /* width: 100px; */
    margin-top: 3em;
    margin-inline: 2em;
    /* background-color: blue !important; */
}

.shotgun {
    width: 100%;
    /* max-width: 15em; */
}

.shotgunMinimalLogo {
    display: none;
    height: 3.5em;
}

.shotgunFullLogo {
    display: block;
}

.playlistMap {
    margin: 5em 0;
}

