@media screen and (max-width: 600px) {
    .sideBarMain {
        --square-length: 33px;
        height: var(--square-length);
        padding: 0 0 !important;
        margin: 1em 3em;
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between !important;
        /* width: 100px; */
    }

    .shotgunMinimalLogo {
        display: block !important;
    }

    .shotgunFullLogo {
        display: none !important;
    }

    .playlistName {
        display: none !important;
    }
}

@media screen and (max-width: 950px) and (min-width: 601px) {
    .sideBarMain {
        margin-inline: 0.5em !important;
    }

    .shotgunMinimalLogo {
        display: block !important;
    }

    .shotgunFullLogo {
        display: none !important;
    }

    .playlistItem {
        flex-direction: column !important;
    }
}

@media screen and (min-width: 951px) {
    .sideBarMain {
        max-width: 180px;
    }
}

.sideBarMain {
    padding: 10em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* width: 100px; */
}

.shotgun {
    height: inherit;
}

.shotgunMinimalLogo {
    display: none;
    height: inherit;
    width: inherit;
}

.shotgunFullLogo {
    display: block;
}


.playlistItem {
    /* --square-length: 100%; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
    width: var(--square-length);
    height: inherit;
}


.favIcon {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    /* margin-inline: auto; */
    /* justify-self: center; */

}

.favIconSquare {
    position: relative;
    height: 100%;
    width: 100%;
}


.playlistImage {
    height: 100%;
    width: 100%;
    margin: auto;
    border-radius: 0.5em;
    overflow: hidden;
    /* display: flex;
    justify-content: center; */
}

.likeNumber {
    padding: 0 0.3em;
    right: -0.5em;
    top: -0.7em;
    position: absolute;
    /* transform: translate(1.3em, 20px); */
    text-align: center;
    font-size: 0.9em;
    font-weight: 400;
    z-index: 100;
    background-color: #ca2853;
    border-radius: 0.4em;
    color: white;
}


.playlistName {
    text-align: center;
    margin-top: 0.5em;
    text-align: center;
    width: 56px;
    margin: 0.6em auto;
    font-size: 0.6em;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;

}
