@media screen and (max-width: 600px) {
    .sideBarMain {
        display: none;
    }
}

@media screen and (max-width: 950px) and (min-width: 601px) {
    .sideBarMain {
        margin-inline: 0.4em !important;
    }

    .shotgunMinimalLogo {
        display: block !important;
    }

    .shotgunFullLogo {
        display: none !important;
    }
}

@media screen and (min-width: 951px) {
    .sideBarMain {
        max-width: 180px;
    }
}

.sideBarMain {
    height: 100%;
    /* width: 100px; */
    margin-top: 3em;
    margin-inline: 2em;
}

.shotgun {
    width: 100%;
    /* max-width: 15em; */
}

.shotgunMinimalLogo {
    display: none;
    height: 3.5em;
}

.shotgunFullLogo {
    display: block;
}

.playlistMap {
    margin: 5em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.playlistItem {
    margin: 1em 0;
}

.likeNumber {
    position: absolute;
    vertical-align: middle;
    width: inherit;
    height: inherit;
    line-height: 56px;
    text-align: center;
    z-index: 100;
}


.playlistImage {
    border-radius: 0.3em;
    overflow: hidden;
    height: 56px;
    width: 56px;
}

