.contentSpacing {
    margin: 0em 1em 0em 1em;
}

@media screen and (max-width: 600px) {
    .trackItemWrapper{
        grid-template-areas: "info duration" !important;
        grid-template-columns: 10fr minmax(80px,1fr) !important;
    }

    .indexStyle, .hashtag, .duration, .trackAlbum, .dateAdded {
        display: none;
    }
    
    .likeDuration {
        justify-content: flex-end !important;
    }

    .trackItemStyling:not(.disable):not(.trackUnavailable):hover .imageHover {
        display: none;
    }
    
    .trackItemStyling:not(.disable):not(.trackUnavailable):hover .playImageHover {
        display: flex;
    }
}



@media screen and (max-width: 950px) and (min-width: 601px) {
    .trackItemWrapper{
        grid-template-areas: "index info album duration" !important;
        grid-template-columns: 16px 4fr 2fr minmax(80px,1fr) !important;
    }

    .dateAdded {
        display: none;
    }
}

.RemoveAnim {
    animation-name: removeanim;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: slide-in;
}

@keyframes removeanim {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
        /* transform: translateY(-10px); */
    }
}


.trackUnavailable {
    opacity: 30%;
}


.trackItemWrapper {
    display: grid;
    grid-gap: 16px;
    grid-template-areas: "index info album date duration";
    grid-template-columns: 16px 6fr  4fr 2fr minmax(80px,0.5fr);
    align-items: center;
    padding-inline: 1em;
}

.indexStyle {
    font-size: 1.1em;
    font-weight: 400;
    grid-column: index;
    
}

.trackNameArtistImage {
    height: 56px;
    justify-self: start;
    display: flex;
    grid-column: info;
    min-width: 0;
    width: 100%;
    margin-right: 16px;
    /* height: 100%; */
}

.imageWrapper {
    margin: auto 1em auto 0em;
    height: 40px;
    width: 40px;
    padding-right: 0.8em;
}

.trackInfo {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
}

.trackTitle {
    padding: 0.2em 0;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 500;
}

.currentTrack {
    background: linear-gradient(to left, var(--clr-gradient-left), var(--clr-gradient-right));
    color: transparent;
    background-clip: text;
}

.trackArtist {
    word-break: break-all;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* color: white !important; */
}

.trackAlbum {
    /* vertical-align: middle; */
    grid-column: album;
    justify-self: start;
    text-overflow: ellipsis;
    width: 100%;
    overflow:hidden;
    white-space: nowrap;
}

.dateAdded {
    vertical-align: middle;
}

.likeDuration {
    display: flex;
    justify-content: space-between;
    min-width: 0;
    grid-column: duration;
    justify-self: end;
}

.likeButton {   
    height: 16px;
}

.likeVisibilityWrapper {
    height: 16px;
    visibility: hidden;
}

.duration {
    /* min-width: 0; */
    margin-left: 1.5em;
    vertical-align: middle;
}

.indexNumber {
    width: 16px;
    text-align: center;
    justify-self: center;
}

.indexInteract {
    display: none;
}

.hashtag {
    text-align: center;
}

.clockWrapper {
    height: 16px;
    justify-self: end;
}

.columnNameStyling {
    font-weight: 300;
    font-size: 0.8rem;
    height: 30px;
    margin: 1em 0;

    border-bottom: 1px solid rgba(255,255,255,.1);
}

.trackItemStyling {
    font-size: 0.8rem;
    font-weight: 300;
    height: 56px;
    border-radius: 0.3em;
}

.trackItemStyling:not(.disable):hover {
    background-color: #f8f8f832;
}

.trackItemStyling:not(.disable):hover .likeVisibilityWrapper{
    visibility:visible;
}
.trackItemStyling:not(.disable):hover .indexInteract {
    display:flex;
}
.trackItemStyling:not(.trackUnavailable):not(.disable):hover .indexNumber {
    display: none;
}

.mobilePlayButton {
    width: 50%;
    height: 50%;
}

.playImageHover {
    /* background-color: blue; */
    margin: auto 1em auto 0em;
    height: 40px;
    width: 40px;
    /* padding-right: 0.8em; */
    display: none;
    justify-content: center;
    align-items: center;
}

