@media screen and (max-width: 700px) {
    .trackItemWrapper{
        grid-template-areas: "index info album duration" !important;
        grid-template-columns: 16px 4fr 2fr minmax(120px,1fr) !important;
    }

    .dateAdded {
        display: none;
    }
}

.trackUnavailable {
    color: rgb(180, 180, 180);
    background-color: rgb(246, 237, 237);;
}

.trackHover {
    background-color: #f8f8f8;
}

.trackItemWrapper {
    height: 56px;
    display: grid;
    grid-gap: 16px;
    grid-template-areas: "index info album date duration";
    grid-template-columns: 16px 6fr  4fr 3fr minmax(120px,1fr);
    font-size: 0.8rem;
    font-weight: 300;
    align-items: center;
    padding:0 1em;
}

.index {
    grid-column: index;
    justify-self: start;
}
  
.trackItemWrapperCurrent {
    background-color: #effdef;
}

.trackNameArtistImage {
    height: 56px;
    justify-self: start;
    display: flex;
    grid-column: info;
    min-width: 0;
    width: 100%;
    /* height: 100%; */
}

.imageWrapper {
    background-color: red;
    /* justify-self: center; */
    margin: auto 1em auto 0.4em;
    height: 40px;
    width: 40px;
    padding-right: 0.8em;


    /* overflow: hidden; */
    /* border-radius: 30%; */
}

.artwork {
    
}

.trackInfo {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
}

.trackTitle {
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 500;
}

.trackArtist {
    word-break: break-all;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.trackAlbum {
    /* vertical-align: middle; */
    grid-column: album;
    justify-self: start;
    text-overflow: ellipsis;
    width: 100%;
    overflow:hidden;
    white-space: nowrap;
}

.dateAdded {
    vertical-align: middle;
}

.likeDuration {
    justify-self: start;
    display: flex;
    min-width: 0;
    grid-column: duration;
    justify-self: end;
}

.likeButton {
    height: 16px;
    margin-right: 1em;
}

.duration {
    /* min-width: 0; */
    vertical-align: middle;
}

.indexNumber {
    width: 16px;
    text-align: center;
}