.Thumb {
    /* display: none !important; */
    visibility:  hidden;
}

.volumeSliderWrapper:hover .Thumb {
    /* display: flex !important; */
    visibility: visible;
}

.Range {
    height: 5px;
    width: 100%;
    border-radius: 4px;
}

.inputColors {
}

.inputClass[type=range] {
    height: 18px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background-color: transparent !important;
}
.inputClass[type=range]:focus {
    outline: none;
}
.inputClass[type=range]::-webkit-slider-runnable-track {
width: 100%;
height: 4px;
cursor: pointer;
box-shadow: 0px 0px 0px #000000;
background: var(--clr-accent-500);
border-radius: 23px;
border: 0px solid #000000;
}
.inputClass[type=range]::-webkit-slider-thumb {
box-shadow: 0px 0px 0px #000000;
border: 0px solid #000000;
height: 12px;
width: 12px;
border-radius: 20px;
background: #FFFFFF;
cursor: pointer;
-webkit-appearance: none;
margin-top: -4px;
}
.inputClass[type=range]:focus::-webkit-slider-runnable-track {
background: var(--clr-accent-500);
}
.inputClass[type=range]::-moz-range-track {
width: 100%;
height: 4px;
cursor: pointer;
animate: 0.2s;
box-shadow: 0px 0px 0px #000000;
background: var(--clr-accent-500);
border-radius: 23px;
border: 0px solid #000000;
}
.inputClass[type=range]::-moz-range-thumb {
box-shadow: 0px 0px 0px #000000;
border: 0px solid #000000;
height: 12px;
width: 12px;
border-radius: 20px;
background: #FFFFFF;
cursor: pointer;
}
.inputClass[type=range]::-ms-track {
width: 100%;
height: 4px;
cursor: pointer;
animate: 0.2s;
background: transparent;
border-color: transparent;
color: transparent;
}
.inputClass[type=range]::-ms-fill-lower {
background: var(--clr-accent-500);
border: 0px solid #000000;
border-radius: 46px;
box-shadow: 0px 0px 0px #000000;
}
.inputClass[type=range]::-ms-fill-upper {
background: var(--clr-accent-500);
border: 0px solid #000000;
border-radius: 2px;
box-shadow: 0px 0px 0px #000000;
}
.inputClass[type=range]::-ms-thumb {
margin-top: 1px;
box-shadow: 0px 0px 0px #000000;
border: 0px solid #000000;
height: 12px;
width: 12px;
border-radius: 20px;
background: #FFFFFF;
cursor: pointer;
}
.inputClass[type=range]:focus::-ms-fill-lower {
background: var(--clr-accent-500);
}
.inputClass[type=range]:focus::-ms-fill-upper {
background: var(--clr-accent-500);
}